<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Produk</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("../partials/navbar.ejs") -%>
    <div class="container my-5">
        <h1 class="mb-3">Tambah Produk</h1>
        <form method="post">
            <div class="form-group row">
                <label for="code" class="col-12 col-md-3 col-form-label">Kode produk</label>
                <div class="col-9">
                    <input class="form-control input-code" type="text" name="code" id="code" placeholder="Contoh: 000001">
                    <div class="invalid-feedback" id="codeError"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-12 col-md-3 col-form-label">Nama produk</label>
                <div class="col-9">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Contoh: beras">
                    <div class="invalid-feedback" id="nameError"></div>
                </div>
            </div>
            <div class="form-group row" hidden>
                <label for="qty" class="col-12 col-md-3 col-form-label">Stok</label>
                <div class="col-9">
                    <input class="form-control input-stock" type="text" id="qty" name="qty" value="0" placeholder="Contoh: 10" data-numberonly="true">
                    <small class="form-text text-muted">Jumlah stok mengikuti berdasarkan satuan terkecil</small>
                    <div class="invalid-feedback" id="qtyError"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="storageType" class="col-12 col-md-3 col-form-label">Lokasi penyimpanan</label>
                <div class="col-9">
                    <select class="custom-select input-select" name="storageType" id="storageType">
                        <option value="" hidden="true">- Pilih -</option>
                        <option value="store">Toko</option>
                        <option value="warehouse">Gudang</option>
                    </select>
                    <div class="invalid-feedback" id="storageTypeError"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-3 mb-3 mb-md-0">Varian</div>
                <div class="col-12 col-md-9" id="variant"></div>
            </div>
            <button type="submit" class="btn btn-success">Simpan perubahan</button>
            <a href="/product" class="btn btn-secondary ml-2">Kembali</a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script src="/js/helper.js"></script>
    <script>
        let productVariantData = [];
        let errors = null;

        $("document").ready(function() {
            addProductVariant(true);
        });

        function getProductVariantsUnit(productVariants, index) {
            return productVariants
                .map((varian, idx) => {
                    return {label: varian.unit, value: idx, selected: varian.childIndex}
                })
                .filter(unit => unit.value !== index);
        }

        function renderProductVariant(productVariants) {
            const el = $("#variant");
            el.html("");
            productVariants.forEach((productVariant, index) => {
                if (!productVariant.deletedAt) {
                    el.append(
                        '<div id="productVariants['+index+']" class="border rounded p-3 w-100 mb-3">' +
                            '<div class="mb-3 font-weight-bold">Variant ke-'+(index + 1)+'</div>' +
                            '<div class="form-group row">' +
                                '<label for="price['+index+']" class="col-md-5 col-form-label">Harga (Rp)</label>' +
                                '<div class="col-md-7">' +
                                    '<input class="form-control input-money" type="text" name="price['+index+']" id="price['+index+']" placeholder="Contoh: 10000" value="'+productVariant.price+'" data-key="price" data-index="'+index+'" data-numberonly="true" data-moneyformat="true" onchange="onChangeProductVariantInput(this)">' +
                                    '<div class="invalid-feedback" id="priceError-'+index+'"></div>' +
                                '</div>' +
                            '</div>' +
                            '<div class="form-group row">' +
                                '<label for="unit['+index+']" class="col-md-5 col-form-label">Satuan</label>' +
                                '<div class="col-md-7">' +
                                    '<input class="form-control input-unit" type="text" name="unit['+index+']" id="unit['+index+']" placeholder="Contoh: bungkus" value="'+productVariant.unit+'" data-key="unit" data-index="'+index+'" onchange="onChangeProductVariantInput(this)">' +
                                    '<div class="invalid-feedback" id="unitError-'+index+'"></div>' +
                                '</div>' +
                            '</div>' +
                            '<div class="form-group row" id="unitArea-'+index+'">' +
                                '<label for="qtyPerUnit['+index+']" class="col-md-5 col-form-label">Jumlah per satuan</label>' +
                                '<div class="col-md-7">' +
                                    '<div style="width: 200px" class="d-flex">' +
                                        '<div class="col-md-4 pl-0 pr-0">' +
                                            '<input class="form-control" type="text" name="qtyPerUnit['+index+']" id="qtyPerUnit['+index+']" placeholder="0" value="'+productVariant.qtyPerUnit+'" data-key="qtyPerUnit" data-index="'+index+'" data-numberonly="true" onchange="onChangeProductVariantInput(this)">' +
                                            '<div class="invalid-feedback" id="qtyPerUnitError-'+index+'"></div>' +
                                        '</div>' +
                                        '<div class="col-md-8 pr-0">' +
                                            '<select class="custom-select childIndex" name="childIndex['+index+']" id="childIndex['+index+']" data-key="childIndex" data-index="'+index+'" onchange="onChangeProductVariantInput(this)">' +
                                            '</select>' +
                                            '<div class="invalid-feedback" id="childIndexError-'+index+'"></div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                            '<div class="form-group row">' +
                                '<label for="isParent['+index+']" class="col-md-5 col-form-label">Satuan terbesar</label>' +
                                '<div class="col-md-7">' +
                                    '<div class="form-check form-check-inline mt-2">' +
                                          '<input class="form-check-input" type="radio" name="isParent['+index+']" id="isParentTrue['+index+']" value="1" data-key="isParent" data-index="'+index+'" onchange="onChangeProductVariantInput(this)" '+(productVariant.isParent === "1" ? "checked" : "")+'>' +
                                          '<label class="form-check-label" for="isParentTrue['+index+']">Ya</label>' +
                                    '</div>' +
                                    '<div class="form-check form-check-inline mt-2">' +
                                          '<input class="form-check-input" type="radio" name="isParent['+index+']" id="isParentFalse['+index+']" value="0" data-key="isParent" data-index="'+index+'" onchange="onChangeProductVariantInput(this)" '+(productVariant.isParent === "0" ? "checked" : "")+'>' +
                                          '<label class="form-check-label" for="isParentFalse['+index+']">Tidak</label>' +
                                    '</div>' +
                                    '<div class="invalid-feedback" id="isParentError-'+index+'"></div>' +
                                '</div>' +
                            '</div>' +
                            '<button name="deleteProductVariantBtn" data-index="'+index+'" type="button" class="btn btn-danger">Hapus varian</button>' +
                        '</div>'
                    );
                }
            });

            renderAddVariant();
            initDeleteProductVariant();
            initAllowNumberOnly();
            initMoneyFormat();
            setVariantsUnit();
            if(productVariants[0].isParent == "1") {
                $("#unitArea-0").hide()
            }
        }

        function renderAddVariant() {
            const el = $("#variant");
            el.append(
                '<button type="button" class="btn btn-primary" id="addProduct">Tambah varian</button>'
            );

            initAddProductVariant();
        }

        function initAddProductVariant() {
            $("#addProduct").click(function() {
                addProductVariant();
            });
        }

        function addProductVariant(isParent = false) {
            productVariantData.push({
                price: "",
                qtyPerUnit: 1,
                unit: "",
                childIndex: "",
                isParent: isParent ? "1" : "0"
            });

            renderProductVariant(productVariantData);
        }

        function initDeleteProductVariant() {
            $("button[name=deleteProductVariantBtn]").click(function() {
                const dataIndex = $(this).data("index");
                productVariantData.splice(dataIndex, 1);

                if (productVariantData.length === 0) {
                    addProductVariant();
                } else {
                    renderProductVariant(productVariantData);
                }
            });
        }

        function onChangeProductVariantInput(e) {
            const el = $(e);
            const key = el.data("key");
            const value = el.val();
            const index = el.data("index");
            productVariantData[index][key] = value;
            setVariantsUnit();
            if(key == 'isParent') {
                if(value == "1") {
                    $("#unitArea-"+index).hide()
                } else {
                    $("#unitArea-"+index).show()
                }
            }
        }

        function setVariantsUnit() {
            $(".childIndex").each((index, child) => {
                const units = getProductVariantsUnit(productVariantData, index)
                let selectedValue = productVariantData[index].childIndex;
                $(child).empty();
                const availableValues = [];
                const currentUnit = $("input[name='unit["+index+"]']").val();
                units.forEach(unit => {
                    const variant = unit.label === "" ? "Variant " + (unit.value+1) : unit.label;
                    child.append(new Option(currentUnit + "/" + variant, unit.value));
                    availableValues.push(unit.value);
                });
                if (index === 0) {
                    child.append(new Option("Tidak ada", ""));
                    selectedValue = "";
                } else if (selectedValue === "") {
                    productVariantData[index].childIndex = index - 1;
                    selectedValue = index - 1;
                }
                $(child).val(selectedValue);
            });
        }

        function initSave() {
            $("form").submit(function(e) {
                e.preventDefault();
                let productVariants = [];
                for (let i = 0; i < productVariantData.length; i++) {
                    productVariants.push({
                        ...productVariantData[i],
                        price: productVariantData[i].price.replace(/,/g, "")
                    });
                }

                let newProductVariants = [...productVariants];
                productVariants.forEach((variant, index) => {
                    if(variant.chindIndex != "") {
                        newProductVariants[+variant.childIndex].childIndex = index;
                        newProductVariants[+variant.childIndex].qtyPerUnit = variant.qtyPerUnit
                        newProductVariants[index].childIndex = "";
                        newProductVariants[index].qtyPerUnit = 1;                        
                    }
                });

                $.ajax({
                    method: "post",
                    url: "/api/product",
                    data: {
                        code: $("#code").val(),
                        name: $("#name").val(),
                        storageType: $("#storageType").val(),
                        qty: $("#qty").val(),
                        storageType: $("#storageType").val(),
                        productVariants: newProductVariants.map((item) => {
                            return {
                                ...item,
                                isParent: item.isParent === "1" ? 1 : 0
                            }
                        })
                    },
                    success: function(result) {
                        alert("Data tersimpan");
                        $("input").removeClass("is-invalid");
                        $("select").removeClass("is-invalid");
                        // window.location.href = "/product";
                    },
                    error: function(error) {
                        alert("Gagal menyimpan data!");
                        errors = error.responseJSON.errors;
                        renderErrorMessage();
                    }
                });
            });
        }
        initSave();

        function renderErrorMessage() {
            if (errors) {
                if (errors.hasOwnProperty("code")) {
                    const msg = errors.code;
                    $("#codeError").text(msg);
                    $("#code").addClass("is-invalid")
                } else {
                    $("#codeError").text("");
                    $("#code").removeClass("is-invalid");
                }

                if (errors.hasOwnProperty("name")) {
                    const msg = errors.name;
                    $("#nameError").text(msg);
                    $("#name").addClass("is-invalid")
                } else {
                    $("#nameError").text("");
                    $("#name").removeClass("is-invalid");
                }

                if (errors.hasOwnProperty("qty")) {
                    const msg = errors.qty;
                    $("#qtyError").text(msg);
                    $("#qty").addClass("is-invalid");
                } else {
                    $("#qtyError").text("");
                    $("#qty").removeClass("is-invalid");
                }

                if (errors.hasOwnProperty("storageType")) {
                    const msg = errors.storageType;
                    $("#storageTypeError").text(msg);
                    $("#storageType").addClass("is-invalid");
                } else {
                    $("#storageTypeError").text("");
                    $("#storageType").removeClass("is-invalid");
                }
                
                productVariantData.forEach((productVariant, index) => {
                    if (errors.hasOwnProperty("productVariants["+index+"].price")) {
                        const msg = errors["productVariants["+index+"].price"];
                        $("#priceError-"+index).text(msg);
                        $("input[name='price["+index+"]']").addClass("is-invalid")
                    } else {
                        $("input[name='price["+index+"]']").removeClass("is-invalid");
                    }

                    if (errors.hasOwnProperty("productVariants["+index+"].qtyPerUnit")) {
                        const msg = errors["productVariants["+index+"].qtyPerUnit"];
                        $("#qtyPerUnitError-"+index).text(msg);
                        $("input[name='qtyPerUnit["+index+"]']").addClass("is-invalid")
                    } else {
                        $("#qtyPerUnitError-"+index).text("");
                        $("input[name='qtyPerUnit["+index+"]']").removeClass("is-invalid");
                    }

                    if (errors.hasOwnProperty("productVariants["+index+"].unit")) {
                        const msg = errors["productVariants["+index+"].unit"];
                        $("#unitError-"+index).text(msg);
                        $("input[name='unit["+index+"]']").addClass("is-invalid")
                    } else {
                        $("#unitError-"+index).text("");
                        $("input[name='unit["+index+"]']").removeClass("is-invalid");
                    }

                    if (errors.hasOwnProperty("productVariants["+index+"].isParent")) {
                        const msg = errors["productVariants["+index+"].isParent"];
                        $("#isParentError-"+index).text(msg);
                        $("input[name='isParent["+index+"]']").addClass("is-invalid");
                    } else {
                        $("#isParentError-"+index).text("");
                        $("input[name='isParent["+index+"]']").removeClass("is-invalid");
                    }

                    if (errors.hasOwnProperty("productVariants["+index+"].childIndex")) {
                        const msg = errors["productVariants["+index+"].childIndex"];
                        $("#childIndexError-"+index).text(msg);
                        $("input[name='childIndex["+index+"]']").addClass("is-invalid");
                    } else {
                        $("#childIndexError-"+index).text("");
                        $("input[name='childIndex["+index+"]']").removeClass("is-invalid");
                    }
                });
            }
        }
    </script>
</body>
</html>